{% extends "index.html" %}

{% block content %}

<div style="background-color: rgba(231, 206, 227, 0.80);
      border-radius: 15px;
      width: 75%;
      height:75%;
      margin: auto;
      padding = 50px;">
<br><br>
<h1 class="body-text" style="font-size: 40px; font-family:'Thasadith', sans-serif; margin: 0px 50px 0px 50px">About me</h1>
<br>
<br>
<p class="body-text" Style="font-size: 20px; font-family:'Thasadith', sans-serif; margin: 0px 175px 0px 175px">My name is Jacob.  I live in Tulsa, OK with my two children.  Two years ago, I had to leave my career on the east coast and move home.  Unemployment, depression, lack of direction, and sloth all have taken their toll on me. I’m resolved to take full charge of my life this coming year. 2019 will be my best year yet.</p>
<br>
<br>
<h1 class="body-text" style="font-size: 40px; font-family: 'Thasadith', sans-serif; margin: 0px 50px 0px 50px">About this page</h1>
<br>
<br>
<p class="body-text" Style="font-size: 20px; font-family: 'Thasadith', sans-serif; margin: 0px 175px 0px 175px">Staying focused and motivated is easier when I hold myself accountable by being totally transparent about my progress.  This page exists as a way for me to be transparent and honest with myself as well as any who might be interested in my journey.</p>
<br><br>
<p class="body-text" Style="font-size: 20px; font-family: 'Thasadith', sans-serif; margin: 0px 175px 0px 175px">The Home page lists any new achievements or news.  The Blog is, well, a blog, meant to record my day-to-day progress and achievements. The Goals page segments into areas of my life and their corresponding resolutions.  The task is daunting, I know.  I may not achieve them all.  However, the more challenges undertaken, the more victories to be celebrated.</p>
<br><br>

<h1 class="body-text" style="font-size: 28px; font-family: 'Thasadith', sans-serif; margin: 0px 50px 0px 50px">Note:</h1>

<p class="body-text" Style="font-size: 20px; font-family: 'Thasadith', sans-serif; margin: 0px 175px 0px 175px">Note: A significant portion of my career/skillset goals are Computer Science and Coding, this page itself is the subject of my resolutions.  As my web dev skills grow throughout the year, this page will grow, change, and improve.</p>

</div>
{% endblock %}
