{% extends "index.html" %}

{% block content %}
<div class="container-fluid">

<h1 style="font-family: 50px 'Thasadith', sans-serif; text-align: center;">Goals</h1>


<div class="row">
    <div class="col-sm-3" style="border-right: 1px solid black;">
      <div style="background-color: rgba(231, 206, 227, 0.20);
            border-radius: 15px;
            width: 75%;
            position: fixed;
            margin: auto;
            padding = 50px">
      <ul>
        <li><a href="#1" style='font-family:'Thasadith', sans-serif;'>Health and Grooming</a></li>
        <li><a href="#2" style='font-family:'Thasadith', sans-serif;'>Career and Skills</a></li>
        <li><a href="#3" style='font-family:'Thasadith', sans-serif;'>Home</a></li>
        <li><a href="#4" style='font-family:'Thasadith', sans-serif;'>Projects</a></li>
        <li><a href="#5" style='font-family:'Thasadith', sans-serif;'>Learning</a></li>
        <li><a href="#6" style='font-family:'Thasadith', sans-serif;'>Family</a></li>
        <li><a href="#7" style='font-family:'Thasadith', sans-serif;'>Headspace</a></li>
      </ul>
    </div>
    </div>

    <div class="col-sm-9">
      <div style="background-color: rgba(231, 206, 227, 0.75);
            border-radius: 15px;S
            padding = 50px">
      <div style='margin-left: 15px'>
      <h3 id="1">Health and Grooming</h3>
      <ul>
        <li>Loose 90 lbs</li>

        <li>Brush teeth before bed</li>
        <li>Take better care of Wardrobe</li>
        <li>Drink much less</li>
        <li>Develop better dietary habits</li>
        <li>See a dentist twice this year</li>
        <li>Moisturize</li>
        <li>Run at least 1342 miles</li>
        <li>Stop picking nose</li>
        <li>Stop biting nails</li>
        <li>Stop biting nails</li>

      </ul>
      <h3 id="2">Career and Skills</h3>
      <ul>
        <li>AWS certification</li>
        <li><span style='text-decoration: underline'>Developement</span></li><ul>
        <li>Flask</li>
        <li>Django</li>
        <li>Java</li>
        <li>C#/.Net</li>
        <li>MEAN/MERN</li></ul>
        <li><span style='text-decoration: underline'>Data Science</span></li><ul>
        <li>Pandas</li>
        <li>Data Visualization</li>
        <li>Time series data analysis</li>
        <li>Keep up with Data science publications (SDS, etc)</li>
        <li>R</li>
        <li>Machine Learning</li></ul>
        <li></li>
        <li>Take VBA knowledge to the next level</li>
        <li>PyGame</li>
        <li>Build a Raspberry Pi Application (with the kids)</li>
        <li>EE/Circuitboard work</li>
        <li style='font-weight: bold'>Land amazing job</li>
      </ul>
      <h3 id="3">Home</h3>
      <ul>
        <li>Tidy room every day</li>
        <li>Make bed every morning</li>
        <li>Clean bathroom 2x month</li>
        <li>No dishes in sink</li>
        <li>Hang Art</li>
        <li>Laundry done each week, including ironing</li>
        <li>Organize files</li>
        <li>Buy items needed for the house (Hamper, desk, desk chair etc.)</li>
      </ul>
      <h3 id="4">Projects</h3>
      <ul>
        <li>Verona's World</li>
        <li>3 fully functioning websites</li>
        <li>3 Articles ready for publication</li>
        <li>Translate The Phenomenology of Perception</li>
        <li><span style='text-decoration: underline'>The Jungle Book</span>The Jungle Book Recording</li>
        <li>1 play</li>
        <li>Compile research for Utility Regulation Book</li>
        <li>Maintain this page!</li>
      </ul>
      <h3 id="5">Learning</h3>
      <ul>
        <li>Study Piano</li>
        <li>Stats</li>
        <li>Algebra/Trig</li>
        <li>Calc</li>
        <li><span style="text-decoration: underline">Brush up on:</span>
          <ul>
            <li>Latin</li>
            <li>Greek</li>
            <li>German</li>
          </ul>
        </li>
        <li>Read 75 or more books</li>
        <li>Read the sunday New York Times</li>
        <li>Sunday is Opera and Theater day</li>
      </ul>
      <h3 id="6">Family</h3>
      <ul>
        <li>Give Jax and Verona Latin Lessons</li>
        <li>Piano lessons for Jax and Verona</li>
        <li>Establish and Enforce Chores</li>
        <li>Plan out meals for family</li>
        <li>Cook more with the kids</li>
        <li>Design lessons in different feilds for the kids</li>
        <li>Model rocket Launch</li>
      </ul>
      <h3 id="7">Headspace</h3>
      <ul>
        <li>Stop telling Negative jokes about myself</li>
        <li>Accept that others' success is not an insult to you</li>
        <li>Feel your emotions; don't react on them</li>
        <li>Remember that you are not behind or ahead</li>
        <li>Don't hide your vulnerablity in sarcasm and self-pity</li>
        <li>Make an active effort to be more positive</li>
        <li>Listen more; talk less</li>
        <li>Be more cautious about how your words will affect people</li>
      </ul>
      </div>
</div>
</div>




</div>
</div>


{% endblock %}
